.editor {
  position: relative;
  width: 80%;
  height: 100vh;
  float: right;
} 

.folder_name_area {
  display: flex;
  top: 0;
  height: 35px;
  background-color: #858eaa;
  margin-bottom: 10px;
}


