.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2d313a;
  padding: 10px 0;

}

.icons {
  color: #4E84C1;
  border-style: none;
  background-color: #2d313a;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  
  &:hover {
    color: #8AC1FF;
    cursor: pointer;
    transition: 0.3s all ease;
  }
}

.right_side {
  flex-direction: row;
  display: flex;
}


