.signin {
  // position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  width: 100%;
  //flex로 내부 중앙 정렬
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container {
  width: 330px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);

  h1 {
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
  }
}



.formSignin input {
  width: 87%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #e4e4e4;
}

.registerbtn {
  font-size: 1rem;
  margin-top: 1.8rem;
  padding: 10px 0;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  color: #fff;
  cursor: pointer;
  background: rgba(17,107,143);

}

.registerbtn:hover {
  background: rgba(17,107,143,0.8);
}

.idcheck {
  display: flex;
  // flex-direction: row;
}
.checkbtn {
  border-radius: 10px;
  border-style: none;
  color: white;
  background: rgba(17,107,143);
  width: 90px;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbtn:hover {
  background: rgba(17,107,143,0.8);
}